<header class="header" id="header">
    <div class="header__top">
        <div class="wrap">
            NOTICE: Philips Recalls DreamStation CPAP, BiLevel PAP & Ventilators on June 14, 2021 due to potential health risks.
        </div>
    </div>
    <div class="header__bot">
        <div class="wrap">
            <div class="header__bot__wrap">    
                <a href="" class="logo">
                    <img src="./img/logo.png">
                </a>
                <a href="" class="header__bot__mob-link">See If You Qualify</a>
                <img class="header__dest-img" src="./img/header_desk.png">
            </div>
        </div>
    </div>
</header>