// базовые подключения
@import "vars";
@import "mixins";
@import "settings";
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    color: #333333;
}
p{
    font-size: 18px;
    line-height: 1.55;
    color: #666666;
    font-weight: 300;
    a{
        font-weight: 400;
        color:rgb(66, 114, 61);
        text-decoration: underline;
        font-weight: bold;
    }
}

  
.wrap{
    max-width: 1700px;
    margin: 0 auto;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.header__top{
    background-color: #aec5d7;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.header__bot{
    background-image: url('../img/headergradient.jpg');
    .header__bot__wrap{
        position: relative;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}
.header__dest-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}
.header__bot__mob-link{
    display: none;
}
.logo{
    position: relative;
    z-index: 2;
    max-width: 225px;
    margin-right: 15px;
    display: block;
    img{
        display: block;
    }
}
@media(max-width: 991px){
    .header__dest-img{
        display: none;
    }
    .header__bot__mob-link{
        font-size: 36px;
        display: block;
        color: #fff;
        text-decoration: underline;
    }
    .header__bot__wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__top{
        font-size: 28px;
        font-weight: 400;
    }
}

@media(max-width: 750px){
    .header__top{
        font-size: 16px;
    }
    .header__bot__mob-link{
        font-size: 16px;
    }
    .logo{
        max-width: 150px;
    }
    .wrap{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.sec1{
    background-color: #4d4f4f;
    padding-top: 45px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.sec1__wrap{
    display: flex;
    position: relative;
    z-index: 2;
}
.sec1__left{
    color: #fff;
    padding-right: 70px;
    h1{
        font-size: 64px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 0;
    }
    p{
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
    }
}
.sec1__right{
    flex: 0 0 767px;
}
.sec1__form{
    padding: 25px 50px;
    border-radius: 30px;
    padding-top: 18px;
    background-color: rgb(255, 255, 255);
    .title{
        font-size: 26px;
        margin-bottom: 19px;
        text-align: center;
        color: #06376d;
        font-weight: bold;
    }
    .title2{
        color: #06376d;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-top: 28px;
        text-transform: uppercase;
    }
    label{
        display: block;
        font-size: 16px;
        margin-bottom: 9px;
    }
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    color: #000;
}
  
.custom-select select {
display: none; /*hide original SELECT element: */
}

.select-selected {
background-color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 17px;
right: 15px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #666666 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
border-color: transparent transparent #666666 transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
color: #666666;
padding: 8px 16px;
border: 1px solid transparent;
border-color: #666666;
cursor: pointer;
font-size: 15px;
padding-right: 30px;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: #fff;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

.sec1__form__row{
    margin-bottom: 18px;
}

.sec1__form__flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.sec1__form__col{
    width: calc(100% / 2 - 24px);
    margin: 0 12px;
    margin-bottom: 10px;
}

input{
    border: 1px solid #666666;
    height: 38px;
    padding: 0 15px;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
}
.btn-g{
    padding: 20px 15px;
    border-radius: 10px;
    background-color: rgb(66, 114, 61);
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    display: block;
    border: none;
    cursor: pointer;
    width: 307px;
    max-width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.sec1__form__submite{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
}

.btn-g:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sec1__form__polici{
    font-size: 12px;
    color: #666666;
}

.sec1__img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 1;
    max-width: initial;
    display: block;
}

@media(max-width: 1600px){
    .sec1__right {
        flex: 0 0 667px;
    }
}

@media(max-width: 1399px){
    .sec1__right{
        flex: 0 0 567px;
    }
    .sec1__form{
        padding: 25px;
    }
    .sec1__left{
        padding-right: 20px;
    }
    .sec1__left h1{
        font-size: 50px;
    }
    .sec1__left p{
        font-size: 24px;
    }
}

@media(max-width: 1199px){
    .sec1__wrap{
        flex-direction: column;
    }
    .sec1__right{
        flex: auto;
    }
    .sec1__left{
        text-align: center;
        margin-bottom: 35px;
    }
    .sec1__form{
        max-width: 760px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
   
    
    .sec1__right{
        position: relative;
    }
    .sec1__right:after{
        z-index: 1;
        position: absolute;
        content: "";
        display: block;
        background-image: url('../img/sec1-after.png');
        bottom: -150px;
        left: -30px;
        right: -30px;
        height: 300px;
    }
}

@media(max-width: 991px){
    .sec1__img{
        position: initial;
        height: 75vw;
    }
    .sec1{
        padding-bottom: 0;
    }
}

@media(max-width: 575px){
    .sec1__form__col{
        width: calc(100% - 24px);
    }
    .sec1__left h1{
        font-size: 30px;
    }
    .sec1__left p{
        font-size: 18px;
    }
    .sec1__form label{
        font-size: 14px;
    }
    .sec1__form{
        border-radius: 0;
        padding: 25px 15px;
    }
    .sec1__form__polici{
        text-align: center;
    }
}


.sec2{
    padding-top: 65px;
    padding-bottom: 65px;
}

.h2{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 26px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 0;
}

.h2:after{
    content: "";
    width: 148px;
    height: 5px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #f8d488;
}

.h2.center{
    text-align: center;
}

.h2.center:after{
    left: 50%;
    transform: translateX(-50%);
}
.sec2 p{
    text-align: center;
    max-width: 1200px;
}

.wrap2{
    max-width: 1350px;
}

.sec2__wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
}
.sec2__item{
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .text{
        font-size: 16px;
        font-weight: bold;
    }
    img{
        max-height: 65px;
        display: block;
        margin-bottom: 25px;
    }
}   
.sec2__bot{
    display: flex;
    justify-content: center;
}

@media(max-width: 767px){
    .h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}

@media(max-width: 575px){
    .sec2__wrap{
        flex-wrap: wrap;
    }
    .sec2__item{
        width: 100%;
        margin-bottom: 50px;
    }
    .sec2__item:last-child{
        margin-bottom: 0;
    }
    .sec2__bot{
        margin-top: 50px;
    }
    .sec2{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .btn-g{
        padding: 10px 15px;
        border-radius: 5px;
    }
}

.sec3{
    background-color: #edf2f6;
    padding-top: 70px;
    padding-bottom: 70px;
}

.sec3__wrap{
    display: flex;
}

.sec3__left{
    width: 50%;
    padding-right: 44px;
    img{
        display: block;
        margin-left: auto;
        margin-top: 80px;
    }
}

.sec3__right{
    width: 50%;
    padding-left: 44px;
}

ul{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;
}
li{
    list-style: none;
    font-size: 18px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 10px;
}

li:before{
    content: "•";
    color: #f1aa11;
    position: absolute;
    top: 0;
    left: 0;
}

.sec3__ul-flex{
    display: flex;
    ul{
        margin-right: 65px;
    }
    ul:last-child{
        margin-right: 0;
    }
}
.sec3__bot{
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.sec3{
    .h2{
        margin-bottom: 22px;
    }
    p{
        margin-bottom: 0;
    }
}


@media(max-width: 991px){
    .sec3__left{
        padding-right: 15px;
    }
    .sec3__right{
        padding-left: 15px;
    }
}


@media(max-width:991px){
    .sec3__wrap{
        flex-direction: column;
    }
    .sec3__left{
        width: 100%;
        padding-right: 0;
        margin-bottom: 25px;
        img{
            margin: 0 auto;
        }
    }
    .sec3__right{
        width: 100%;
        padding-left: 0;
    }
    .sec3 .h2{
        text-align: center;
    }
    .sec3 .h2:after{
        left: 50%;
        transform: translateX(-50%);
    }
    .sec3 p{
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
    }
    .sec3__ul-flex{
        justify-content: center;
    }
}

@media(max-width: 500px){
    .sec3__ul-flex{
        width: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        ul{
            margin: 0;
        }
    }
    .sec3{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.sec4{
    padding-top: 65px;
    padding-bottom: 65px;
}

.sec4__wrap{
    display: flex;
    .left{
        width: 50%;
        padding-right: 25px;
    }
    .right{
        width: 50%;
        padding-left: 35px;
        img{
            max-width: 430px;
            margin-top:105px;
        }
    }
}

@media(max-width: 991px){
    .sec4__wrap{
        flex-direction: column-reverse;
    }
    .sec4__wrap .right img{
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
    .sec4__wrap{
        .right{
            width: 100%;
            padding-left: 0;
            margin-bottom: 25px;
        }
        .left{
            width: 100%;
            padding-right: 0;
            .h2{
                text-align: center;
            }
            .h2:after{
                left: 50%;
                transform: translateX(-50%);
            }
            p{
                text-align: center;
                max-height: 700px;
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

@media(max-width: 500px){
    .sec4{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.sec5{
    padding-top: 65px;
    padding-bottom: 65px;
    background-color: #edf2f6;
    text-align: center;
    p{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }
}
.sec5__bot{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
@media(max-width: 500px){
    .sec5{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .sec5__bot{
        margin-top: 25px;
    }
}

.footer{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 13px;
    line-height: 1.385;
    color: #666666;
}
.footer p{
    font-size: 13px;
    line-height: 1.385;
    color: #666666;
    margin-top: 20px;
    margin-bottom: 0;
}
.footer__links{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .text{
        margin-right: 5px;
    }
    .links{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        a{
            text-decoration: underline;
            color: #294679;
            padding-left: 5px;
            padding-right: 5px;
            line-height: 1.2;
            display: inline-block;
            position: relative;
        }
        a:after{
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom:2px;
            height: 12px;
            width: 1px;
            border-right:1px solid #294679;
        }
        a:last-child:after{
            display: none;
        }
    }
}

@media(max-width: 991px){
    .footer__links{
        flex-direction: column;
        align-items: center;
        .links{
            justify-content: center;
        }
    }
}

@media(max-width: 500px){
    .footer{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.sec-thank__wrap{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    padding-top: 65px;
}
.sec-thank__title{
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
}
.sec-thank__text{
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 300;
}
.sec-thank__wrap2{
    padding: 45px 75px;
    background-color: #edf2f6;
    .title{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .title2{
        font-size: 24px;
        margin-bottom: 20px;
        span{
            color: #f92700;
            font-weight: bold;
        }
    }
    p{
        margin-bottom: 30px;
        font-weight: 300;
        a{
            color: #06386f;
            font-weight: bold;
        }
    }
    .line{
        width: 428px;
        max-width: 100%;
        border-bottom: 6px solid #f8d488;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.sec-thank__wrap2__bot{
    display: flex;
    justify-content: center;
}
.sec-thank__bot{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
    padding-bottom: 20px;
    background-color: #074384;
    color: #fff;
}

@media(max-width: 767px){
    .sec-thank__wrap2 .line{
        width: 300px;
    }
}

@media(max-width: 575px){
    .sec-thank__wrap2{
        margin-left: -15px;
        margin-right: -15px;
        padding: 30px 15px;
    }
    .sec-thank__wrap{
        padding-top: 25px;
    }
    .sec-thank__bot{
        margin-right: -15px;
        margin-left: -15px;
    }
    .sec-thank__wrap2 {
        .title{
            font-size: 28px;
        }
        .title2{
            font-size: 18px;
        }
        .line{
            border-bottom: 4px solid #f8d488;
        }
    }
    .sec-thank__title{
        font-size: 36px;
    }
    .sec-thank__text{
        font-size: 16px;
    }
    .sec-thank__bot{
        font-size: 18px;
        padding: 15px 20px;
    }
}